html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    box-sizing: border-box;
}
.welcome{
    margin-top: 20px;
    text-align: center;
}

.introduce{
    margin-top: 20px;
    text-align: center;
}
.menu-triangle{
    border-radius: 5px;
    background-color: rgba(0,181,226);
    color: white;
    padding: 18px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.menu-parallelogram{
    margin-top: 20px;
    text-align: center;
}
.menu2-triangle{
    margin-top: 20px;
    text-align: center;
}
.menu2-parallelogram{
    border-radius: 5px;
    background-color: rgba(0,181,226);
    color: white;
    padding: 18px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.section-triangle{
    box-shadow: -2px -1px 6px 2px rgba(0,0,0,0.82);
-webkit-box-shadow: -2px -1px 6px 2px rgba(0,0,0,0.82);
-moz-box-shadow: -2px -1px 6px 2px rgba(0,0,0,0.82);
}
.section-parallelogram{
box-shadow: -2px -1px 6px 2px rgba(0,0,0,0.82);
-webkit-box-shadow: -2px -1px 6px 2px rgba(0,0,0,0.82);
-moz-box-shadow: -2px -1px 6px 2px rgba(0,0,0,0.82);
}
.title-luastriangle{
    font-size: 40px;
    margin-top: 35px;
    text-align: center;
    background-color: rgba(0,181,226);
    color: white;
    padding: 18px;
    width: 100%;
  
}
.title-luasparalellogram{
    font-size: 40px;
    margin-top: 35px;
    text-align: center;
    background-color: rgba(0,181,226);
    color: white;
    padding: 18px;
    width: 100%;
  
}

.image{
    width: 400px;
    display: block;
    margin: 0 auto;
    
}
.form-triangle{
    text-align: center;
}
.form-parallelogram{
    text-align: center;
}
.rumus-luastriangle{
    
    text-align: center;
    font-weight: bold;
}
.rumus-luasparallelogram{
    
    text-align: center;
    font-weight: bold;
}
.rumus{
    position: relative;
    left: 20px;
}
.keterangan{
    line-height: 3px;
    position: relative;
    left: 20px;
}

input{
    width: 50%;
    padding: 4px;
    margin: 4px;
}
.button{
    background-color: rgba(0,181,226);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px;
    width: 90px;
}
.reset{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px;
    width: 90px;
    margin: 30px;
    position: relative;
    left: 40%;
    
}
.result{
    border: 2px;
    padding: 10px;
    padding-bottom: 10px;
}